# Ignore node_modules in both frontend and backend
Frontend/node_modules/
Backend/node_modules/

# Ignore environment variables
Frontend/.env
Backend/.env

# Ignore build output (optional)
Frontend/build/
Backend/dist/

# System files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/


Backend/serviceAccountKey.json
