.Background {
    background-image: url("wavy.avif");
    background-repeat: no-repeat;
  background-size: cover;       
  background-position: center;
    background-color: rgb(185, 179, 187);
    border-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.blocks {
    

    height: 25vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    
    border-radius: 7px;
   
   
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(11, 11, 11);
    font-size: 16px;
    font-weight: 500;

}

.register-link {
    color: rgba(93, 10, 157, 0.951);

}



.blocks :nth-child(1) {
    width: 30vw;
    font-size: 15px;
    padding: 10px 8px 8px 8px;
    background-color: rgb(61, 10, 85);
    border-radius: 5px;
    color: white;
    border-color: rgb(6, 6, 6);
    

}

.blocks :nth-child(2) {
   width: 30vw;
    font-size: 15px;
    padding: 10px 8px 8px 8px;
    background-color: rgb(61, 10, 85);
    border-radius: 5px;
    color: white;
    border-color: rgb(6, 6, 6);
    
}

.blocks :nth-child(3) {
    width: 10vw;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    font-weight:800;
    
    
    
 background: linear-gradient(
    45deg,
    #2d033b 5%,
    #a855f7 15%,
    #6b21a8 35%,
    #c084fc 50%,
    #7e22ce 65%,
    #d8b4fe 80%,
    #240046 95%
);
  border-width: 3px;
  border-color: #a09f9f;
  border-radius: 6px;
  box-shadow: 0 2px 7px rgba(204, 201, 201, 0.729);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}
/* CENTER IMAGE + FILE INPUT */
.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CENTER FILE INPUT */
.file-input {
  text-align: center;
}

/* CENTER THE CHOOSE FILE BUTTON */
.file-input::file-selector-button {
  margin-right: 10px;
}