.boxes {
   background-image: url("wavy.avif");
    background-repeat: no-repeat;
  background-size: cover;       
  background-position: center;
    background-color: rgb(44, 43, 51);
    border-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.buttons {
    height: 25vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    
    border-radius: 7px;
    
}

.buttons :nth-child(1) {
    width: 30vw;
    font-size: 15px;
    padding: 10px 8px 8px 8px;
    background-color: rgb(57, 55, 55);
    border-radius: 5px;
    color: white;
    border-color: rgb(6, 6, 6);
    
}

.buttons :nth-child(2) {
    width: 30vw;
    font-size: 15px;
    padding: 10px 8px 8px 8px;
    background-color: rgb(57, 55, 55);
    border-radius: 5px;
    color: white;
    border-color: rgb(6, 6, 6);
    
}

.buttons :nth-child(3) {
     width: 30vw;
    font-size: 15px;
    padding: 10px 8px 8px 8px;
    background-color: rgb(57, 55, 55);
    border-radius: 5px;
    color: white;
    border-color: rgb(6, 6, 6);
    
}
.buttons :nth-child(4) {
    width: 12vw;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    font-weight:800;
    
    
    
  background: linear-gradient(
    45deg,
    #868585 5%,
    #fff 10%,
    #b1afaf 30%,
    #d8d6d6 50%,
    #a7a5a5 70%,
    #fff 80%,
    #6b6969 95%
  );
  border-width: 3px;
  border-color: #a09f9f;
  border-radius: 6px;
  box-shadow: 0 2px 7px rgba(204, 201, 201, 0.729);
  cursor: pointer;
  transition: all 0.2s ease-in-out;


}